.container {
  position: relative;
  padding-top: 2em;
  z-index: 2;
}
.container::before {
  content: "";
  position: absolute;
  top: 8em;
  left: 50%;
  width: 90%;
  height: 70%;
  display: block;
  transform: translate(-50%, 0);
  background-color: #b4b4b4;
  z-index: -1;
}
.imgContainer {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  margin-top: -3em;
}
.img {
  width: 40%;
  margin-left: 2em;
  float: left;
}

@media (max-width: 600px) {
  .imgContainer {
    display: none;
  }
  .container::before {
    top: 5em;
  }
}
